#article-wrapper {

    background-color: white; 
    height: fit-content; 
    min-height: 100vh;
    color: black; 
    margin-top: -2.0em; 
    z-index: -1;
}



#article-title, 
#article-meta-data {
    text-align: center;
}

#article-body{
    padding: 0.75em 8% 0 8%;
    /* background-color: white;  */

}

.author-image-wrapper {
    text-align: center; 
    margin-top: 5em; 
    z-index: 1;
}

@media (max-width: 768px) {
    #article-body{
        padding: 0.75em 0 0 0;
    }
}
  

#article-title {
    padding-top: .5em;
}

#author-image{
    z-index: 100;
}