



@media (max-width: 768px) {
    /* .media-wrapper {
      display: none;
    } */

    .article-image{
      background-position: 100% 25%;
    }

    h1 {
      font-size: 2rem;
    }

    .jumbotron{
      background-position: 75% 50% !important;
      margin-bottom: 0px;


    }

    /* .article-image {
      background-position: 50% 80%;
  
    } */

  }


  .jumbotron {
    height: 91.5%;
    width: 100%;
    margin-bottom: 0px !important;
    background-image: url("../images/landing-md.jpg");
    background-size: cover;
    background-position: 0 80%;
    margin-bottom: 15px;

  }
  
  .article-image {
    /* height: fill; */
    /* src: "../images/jumbotron.jpg"; */
    background-size: cover;
    background-position: 0 80%;

  }
