
.page-wrapper {
    height: 92.5vh;
}

.page-side-bar {
    background-color: #212121;
}

#page-side-bar-image-wrapper {
    padding: 25% 0 0 0;
    text-align: center;
}

.page-content {
    padding: 1% 5% 5% 2%;
}

@media (max-width: 768px) {

    .page-side-bar {
        display: none;
    }
}
