
* {
  box-sizing: border-box;
}

body {
  background: #303030;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* width: vw; */


}



footer {
  text-align: center;
  padding: 1px;
  color: white;
  font-size: small;
  border-top: 1px solid white;
  border-bottom: 1px solid white

}


.text {
  margin: 0 60px;
}

 nav.navbar {
    padding: 3px 10px 3px 10px;
    border-bottom: 1px solid white;
    
}
  
.nav-item {
    font-size: 18px;
}

a.navbar-brand {

  max-height: 50px;

}


  
  /* Floating Social Media Bar Style Starts Here */
  
  .fl-fl {
    background: #000000;
    border: 1px solid white;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 190px;
    position: fixed;
    right: -150px;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
  
  .fab {
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    width: 40px;
    margin-left: 8px;
  }
  
  .fl-fl:hover {
    right: 0;
  }
  
  .fl-fl a {
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    line-height: 43px!important;
    vertical-align: top!important;
  }
  
  .float-fb {
    top: 160px;
  }
  
  .float-in {
    top: 215px;
  }
  
  .float-ig {
    top: 270px;
  }
    
  .float-git {
    top: 325px;
  }
  
  /* Floating Social Media Bar Style Ends Here */